body {
    background-color: black; /* Latar belakang hitam */
    color: white; /* Teks berwarna putih */
    font-family: Arial, sans-serif; /* Font yang nyaman dibaca */
    padding: 20px;
}

#file-areas {
    margin-top: 20px;
}

.small-textarea {
    width: 100%;
    height: 100px;
    background-color: white; /* Textarea berwarna putih */
    color: black; /* Teks dalam textarea berwarna hitam */
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.file-name-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.generate-vcf-btn {
    background-color: blue; /* Tombol berwarna biru */
    color: white; /* Teks tombol berwarna putih */
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

.generate-vcf-btn:hover {
    background-color: darkblue; /* Warna tombol saat hover */
}

.file-name-label {
    margin-bottom: 5px;
}

.question-container {
    margin-top: 20px;
    background-color: black; /* Latar belakang hitam untuk penomoran kontak */
    padding: 15px;
    border-radius: 5px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}
